.elementor-widget .ecll-primary-links,
.elementor-widget .ecll-hidden-links {
   margin: 0;
   padding: 0;
}
.elementor-widget .ecll-primary-links li,
.elementor-widget .ecll-hidden-links li{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ecll-title,
.ecll-link-link,
.ecll-expand-btn {
	width: 100%;
    display: block;
    line-height: 1;
    background-color: #818a91;
    font-size: 15px;
    padding: 12px 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
	border-radius: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.ecll-expand-btn {
	width: auto;
	display: inline-block;
}
.ecll-content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ecll-title .ecll-content-wrapper{
	align-items: center;
}
.ecll-title-text,
.ecll-link-name,
.ecll-link-description {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
    display: inline-block;
	text-align: left;
}
.ecll-link-name {
	-webkit-order: 8;
    -ms-flex-order: 8;
    order: 8;
	flex-grow: 0;
}
.ecll-link-description {
	margin-left: 5px;
}
.ecll-title-toggler:focus,
.ecll-title:focus,
.ecll-link-link:focus,
.ecll-expand-btn:focus{
	outline: none;
}
.ecll-title-toggler,
.ecll-title-toggler:focus,
.ecll-title-toggler:hover{
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background: transparent;
}
.ecll-title-toggler,
.ecll-link-icon {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	margin-left: 10px;
	-webkit-box-ordinal-group: 16;
	-webkit-order: 15;
	-ms-flex-order: 15;
	order: 15;
}
.ecll-title-toggler.ecll-align-icon-left,
.ecll-link-link .ecll-align-icon-left {
 	margin-left: 0;
	margin-right: 10px;
	-webkit-box-ordinal-group: 6;
	-webkit-order: 5;
	-ms-flex-order: 5;
	order: 5;
}

.ecll-title-text-inner {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
	align-items: center;
}
.ecll-title .ecll-title-icon {
	margin-left: 0;
	margin-right: 20px;
}
.ecll-title-icon.ecll-align-icon-right{
 	margin-left: 20px;
	margin-right: 0;
	-webkit-box-ordinal-group: 6;
	-webkit-order: 5;
	-ms-flex-order: 5;
	order: 5;
}
.ecll-align-right{
	text-align: right;
}
.ecll-expand-wrapper{
	text-align: center;
}
